/* Unit editable CSS */

body { background: #cccccc; }

/** Unit Bar background gradient and box shadow **/
#ubc7-unit {
  background: #28aae1;
  box-shadow: inset 0px -10px 10px -10px #333333;
  -moz-box-shadow: inset 0px -10px 10px -10px #333333;
  -webkit-box-shadow: inset 0px -10px 10px -10px #333333; }

/** Unit Bar link and font colour **/
#ubc7-unit,
#ubc7-unit-name a {
  color: #FFFFFF;
  text-shadow: 1px 1px #333333; }

#ubc7-unit-name a:hover,
#ubc7-unit-name a:active { text-shadow: 1px 2px #333333; }

/** Social Icon **/
#ubc7-unit-social-icons i { color: #002145; }
#ubc7-unit-social-icons i:hover { color: #444; }

img.img-polaroid { margin-top: 10px; }
.topstory { margin-bottom: 1.5em; }

figcaption {
  color: #666;
  font-size: .8em;
  font-style: italic; }

@media(max-width: 1200px) {
  .media img.img-polaroid, 
  .media-body { 
    width: 100%; 
    float: left; }
}

@media(max-width:767px) {
  .media img.img-polaroid, 
  .media-body { 
    width: auto; 
    float: none; }
  .carousel {
    border-bottom: 1px solid rgba(255,255,255,.5);
    border-right: none;  }
  .carousel-inner .item img {
    -webkit-border-top-left-radius: 20px;
    -moz-border-top-left-radius: 20px;
    border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-top-right-radius: 20px;
    border-top-right-radius: 20px; }
  .carousel-caption {
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px; }
  .events { margin: 0 1em 1em; }    
}

