/*@blue:                  #23499c; // Enrolment
@blueDark:              #0064cd;
@green:                 #58a229; // Healthy
@red:                   #cb1d38; // Fun
@yellow:                #ffc40d;
@orange:                #ff8200; // Success
@pink:                  #c3325f;
@purple:                #41178b; // Career
@teal:                  #1594a6; // Campus*/
/*@btnBackground:                     @white;
@btnBackgroundHighlight:            darken(@white, 10%);
@btnBorder:                         #ccc;

@btnPrimaryBackground:              @linkColor;
@btnPrimaryBackgroundHighlight:     spin(@btnPrimaryBackground, 20%);

@btnInfoBackground:                 #5bc0de;
@btnInfoBackgroundHighlight:        #2f96b4;

@btnSuccessBackground:              #62c462;
@btnSuccessBackgroundHighlight:     #51a351;

@btnWarningBackground:              lighten(@orange, 15%);
@btnWarningBackgroundHighlight:     @orange;

@btnDangerBackground:               #ee5f5b;
@btnDangerBackgroundHighlight:      #bd362f;

@btnInverseBackground:              #444;
@btnInverseBackgroundHighlight:     @grayDarker;*/
/* line 5, /Users/jim/Git/clf-prototyping/less/base.less */
.ir {
  display: block;
  text-indent: -300%;
  overflow: hidden;
  background-repeat: no-repeat;
}
/* line 10, /Users/jim/Git/clf-prototyping/less/base.less */
.floatleft,
.floatl {
  float: left;
  margin: 0 10px 5px 0;
}
/* line 14, /Users/jim/Git/clf-prototyping/less/base.less */
.floatright,
.floatr {
  float: right;
  margin: 0 0 5px 10px;
}
/* line 18, /Users/jim/Git/clf-prototyping/less/base.less */
.visuallyhidden,
.element-invisible,
.skip a:link,
.skip a:hover,
.skip a:visited {
  position: absolute;
  left: -300%;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
/* line 29, /Users/jim/Git/clf-prototyping/less/base.less */
.skip a:active,
.skip a:focus {
  position: static;
  width: auto;
  height: auto;
}
/* line 36, /Users/jim/Git/clf-prototyping/less/base.less */
#cke_contents_edit-body-und-0-value body {
  background: none !important;
}
/* line 39, /Users/jim/Git/clf-prototyping/less/base.less */
#admin-menu .shortcut-toolbar a {
  background: inherit;
}
/* line 42, /Users/jim/Git/clf-prototyping/less/base.less */
img,
canvas {
  max-width: 100%;
  height: auto;
}
/* line 45, /Users/jim/Git/clf-prototyping/less/base.less */
.ie8 img,
.ie8 canvas {
  max-width: none;
}
/* line 47, /Users/jim/Git/clf-prototyping/less/base.less */
figure {
  margin-left: 0;
  margin-right: 0;
}
/* line 52, /Users/jim/Git/clf-prototyping/less/base.less */
.media-youtube-outer-wrapper,
.embedded-video,
.embedded-content {
  position: relative;
  padding-bottom: 56.25%;
  /* 16/9 ratio */
  padding-top: 30px;
  /* IE6 workaround*/
  height: 0;
  overflow: hidden;
}
/* line 60, /Users/jim/Git/clf-prototyping/less/base.less */
.media-youtube-outer-wrapper iframe,
.media-youtube-outer-wrapper object,
.media-youtube-outer-wrapper embed,
.embedded-video iframe,
.embedded-video object,
.embedded-video embed,
.embedded-content iframe,
.embedded-content object,
.embedded-content embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 77, /Users/jim/Git/clf-prototyping/less/base.less */
#edit-title {
  font-size: 24px;
}
/* line 78, /Users/jim/Git/clf-prototyping/less/base.less */
#system-themes-form img {
  width: 100px;
}
/* line 79, /Users/jim/Git/clf-prototyping/less/base.less */
.form-item .description {
  font-style: italic;
  line-height: 1.2em;
  /* 16px is our base size - divide target size by 16 for a declaration of ems - but remember, unlike rems, they cascade */
  font-size: 0.6875em;
  margin-top: 5px;
  color: #777;
}
/* line 85, /Users/jim/Git/clf-prototyping/less/base.less */
#edit-delete {
  color: #c00;
}
/* line 87, /Users/jim/Git/clf-prototyping/less/base.less */
.node-unpublished {
  background-color: #fff;
}
/* line 88, /Users/jim/Git/clf-prototyping/less/base.less */
.node-unpublished div.unpublished {
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  /* 16px is our base size - divide target size by 16 for a declaration of ems - but remember, unlike rems, they cascade */
  font-size: 4.6875em;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
}
/* Fix Pager Styles */
/* line 100, /Users/jim/Git/clf-prototyping/less/base.less */
.item-list .pager li {
  padding: 0;
}
/* line 101, /Users/jim/Git/clf-prototyping/less/base.less */
.item-list ul li {
  margin: 0;
}
/* line 102, /Users/jim/Git/clf-prototyping/less/base.less */
.pager li.pager-current {
  display: inline-block;
  padding: 5px 14px;
  background-color: #eee;
  border: 1px solid #ddd;
}
/* Fix ugly article footer styles */
/* line 109, /Users/jim/Git/clf-prototyping/less/base.less */
article footer {
  background-color: inherit;
}
/* @group Tabs */
/* line 112, /Users/jim/Git/clf-prototyping/less/base.less */
div.tabs {
  margin: 0 0 5px 0;
}
/* line 113, /Users/jim/Git/clf-prototyping/less/base.less */
ul.primary,
ul.secondary {
  width: 99%;
}
/* line 115, /Users/jim/Git/clf-prototyping/less/base.less */
ul.primary {
  margin: 0 0 .5em 0;
  padding: 0;
  border-width: 0;
  list-style: none;
  white-space: nowrap;
  line-height: normal;
  border-bottom: 1px solid #eeeeee;
}
/* line 123, /Users/jim/Git/clf-prototyping/less/base.less */
ul.primary li {
  float: left;
  margin: 0;
  padding: 0;
}
/* line 127, /Users/jim/Git/clf-prototyping/less/base.less */
ul.primary li.active a,
ul.primary li.active a:hover {
  border-width: 0;
  color: #000000;
  background-color: #b3b3b3;
}
/* line 132, /Users/jim/Git/clf-prototyping/less/base.less */
ul.primary li a {
  display: block;
  height: 28px;
  margin: 0 3px 0 0;
  padding: 0 0 0 5px;
  border-width: 0;
  font-weight: bold;
  text-decoration: none;
  color: #777777;
  background-color: #eeeeee;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
}
/* line 143, /Users/jim/Git/clf-prototyping/less/base.less */
ul.primary li a:hover {
  border-width: 0;
  background-color: #d9d9d9;
}
/* line 146, /Users/jim/Git/clf-prototyping/less/base.less */
ul.primary li a .tab {
  display: block;
  height: 24px;
  margin: 0;
  padding: 4px 13px 4px 6px;
  border-width: 0;
  line-height: 20px;
}
/* line 153, /Users/jim/Git/clf-prototyping/less/base.less */
ul.secondary {
  margin: 0;
  padding: 0 0 0 5px;
  border-bottom: 1px solid silver;
  list-style: none;
  white-space: nowrap;
}
/* line 159, /Users/jim/Git/clf-prototyping/less/base.less */
ul.secondary li {
  float: left;
  margin: 0 5px 0 0;
  padding: 5px 0;
  border-right: none;
}
/* line 164, /Users/jim/Git/clf-prototyping/less/base.less */
ul.secondary a {
  display: block;
  height: 24px;
  margin: 0;
  padding: 0;
  border: 1px solid silver;
  text-decoration: none;
  color: #777777;
}
/* line 172, /Users/jim/Git/clf-prototyping/less/base.less */
ul.secondary a .active,
.active ul.secondary a:hover {
  border: 1px solid silver;
  color: #000000;
}
/* line 176, /Users/jim/Git/clf-prototyping/less/base.less */
ul.secondary a .tab {
  display: block;
  height: 18px;
  margin: 0;
  padding: 3px 8px;
  line-height: 18px;
}
/* @end */
/* line 186, /Users/jim/Git/clf-prototyping/less/base.less */
.inflate {
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 0;
  padding-right: 0;
}
/* line 191, /Users/jim/Git/clf-prototyping/less/base.less */
.nopadding {
  padding-left: 0;
  padding-right: 0;
}
/* line 197, /Users/jim/Git/clf-prototyping/less/base.less */
body {
  background: #cccccc;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  min-width: 240px;
}
/* line 201, /Users/jim/Git/clf-prototyping/less/base.less */
#ubc7-unit-menu .nav > li > a {
  padding: 9px 15px 11px;
}
/* line 202, /Users/jim/Git/clf-prototyping/less/base.less */
#main {
  background-color: #ffffff;
}
/* line 203, /Users/jim/Git/clf-prototyping/less/base.less */
#ubc7-unit-identifier.no-umbrella {
  line-height: 2.25em;
}
/* line 208, /Users/jim/Git/clf-prototyping/less/base.less */
#ubc7-unit,
#ubc7-unit-name a {
  color: #FFFFFF;
  text-shadow: 1px 1px 2px #333333;
}
/* line 212, /Users/jim/Git/clf-prototyping/less/base.less */
#ubc7-unit-name a:hover,
#ubc7-unit-name a:active {
  text-shadow: 1px 2px 2px #333333;
}
/* line 218, /Users/jim/Git/clf-prototyping/less/base.less */
#ubc7-unit-menu .nav > li > a.active {
  background: #d7e0e7;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}
/* line 223, /Users/jim/Git/clf-prototyping/less/base.less */
#ubc7-unit-menu .nav-collapse .nav > li > a:hover,
#ubc7-unit-menu .nav-collapse .dropdown-menu a:hover,
#ubc7-unit-alternate-navigation .nav-collapse .nav > li > a:hover,
#ubc7-unit-alternate-navigation .nav-collapse .dropdown-menu a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #002145 !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/*#ubc7-header, div#ubc7-unit, #ubc7-unit-menu, ul.breadcrumb, #main, #ubc7-unit-footer, #ubc7-global-footer, #ubc7-minimal-footer {
-moz-box-shadow: 0px 3px 5px #444;
-webkit-box-shadow: 0px 3px 5px #444;
box-shadow: 0px 3px 5px #444; }*/
/** Social Icon **/
/* line 248, /Users/jim/Git/clf-prototyping/less/base.less */
.bootstrap-sidenav ul {
  margin: 0;
}
/* line 250, /Users/jim/Git/clf-prototyping/less/base.less */
.bootstrap-sidenav ul > li > a {
  border: 1px solid #d7e0e7;
  color: #002145;
  display: block;
  margin: 0 0 -1px;
  padding: 8px 14px 8px 28px;
  text-decoration: none;
}
@media screen and (max-width: 979px) {
  /* line 261, /Users/jim/Git/clf-prototyping/less/base.less */
  .inflate {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
/* line 7, /Users/jim/Git/clf-prototyping/less/utilities.less */
.pull-right {
  float: right;
}
/* line 8, /Users/jim/Git/clf-prototyping/less/utilities.less */
.pull-left {
  float: left;
}
/* line 12, /Users/jim/Git/clf-prototyping/less/utilities.less */
.hide {
  display: none !important;
}
/* line 13, /Users/jim/Git/clf-prototyping/less/utilities.less */
.show {
  display: block !important;
}
/* line 16, /Users/jim/Git/clf-prototyping/less/utilities.less */
.invisible {
  visibility: hidden;
}
/* line 19, /Users/jim/Git/clf-prototyping/less/utilities.less */
#toolbar .bootstrap-sidenav {
  background-color: transparent;
}
/* line 12, /Users/jim/Git/clf-prototyping/less/mixins.less */
.clearfix {
  *zoom: 1;
}
/* line 14, /Users/jim/Git/clf-prototyping/less/mixins.less */
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 22, /Users/jim/Git/clf-prototyping/less/mixins.less */
.clearfix:after {
  clear: both;
}
/* line 110, /Users/jim/Git/clf-prototyping/less/mixins.less */
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
/*.font-size(@font-size: 16){
@rem: (@font-size / 10);
font-size: @font-size * 1px;
font-size: ~"@{rem}rem"; }*/
/* line 170, /Users/jim/Git/clf-prototyping/less/mixins.less */
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*#grid {

  .core (@gridColumnWidth, @gridGutterWidth) {

    .spanX (@index) when (@index > 0) {
      (~".span@{index}") { .span(@index); }
      .spanX(@index - 1);
    }
    .spanX (0) {}

    .offsetX (@index) when (@index > 0) {
      (~".offset@{index}") { .offset(@index); }
      .offsetX(@index - 1);
    }
    .offsetX (0) {}

    .offset (@columns) {
      margin-left: (@gridColumnWidth * @columns) + (@gridGutterWidth * (@columns + 1));
    }

    .span (@columns) {
      width: (@gridColumnWidth * @columns) + (@gridGutterWidth * (@columns - 1));
    }

    .row {
      margin-left: @gridGutterWidth * -1;
      .clearfix();
    }

    [class*="span"] {
      float: left;
      margin-left: @gridGutterWidth;
    }

    // Set the container width, and override it for fixed navbars in media queries
    .container,
    .navbar-fixed-top .container,
    .navbar-fixed-bottom .container { .span(@gridColumns); }

    // generate .spanX and .offsetX
    .spanX (@gridColumns);
    .offsetX (@gridColumns);

  }

  .fluid (@fluidGridColumnWidth, @fluidGridGutterWidth) {

    .spanX (@index) when (@index > 0) {
      (~".span@{index}") { .span(@index); }
      .spanX(@index - 1);
    }
    .spanX (0) {}

    .offsetX (@index) when (@index > 0) {
      (~'.offset@{index}') { .offset(@index); }
      (~'.offset@{index}:first-child') { .offsetFirstChild(@index); }
      .offsetX(@index - 1);
    }
    .offsetX (0) {}

    .offset (@columns) {
      margin-left: (@fluidGridColumnWidth * @columns) + (@fluidGridGutterWidth * (@columns - 1)) + (@fluidGridGutterWidth*2);
	  *margin-left: (@fluidGridColumnWidth * @columns) + (@fluidGridGutterWidth * (@columns - 1)) - (.5 / @gridRowWidth * 100 * 1%) + (@fluidGridGutterWidth*2) - (.5 / @gridRowWidth * 100 * 1%);
    }

    .offsetFirstChild (@columns) {
      margin-left: (@fluidGridColumnWidth * @columns) + (@fluidGridGutterWidth * (@columns - 1)) + (@fluidGridGutterWidth);
      *margin-left: (@fluidGridColumnWidth * @columns) + (@fluidGridGutterWidth * (@columns - 1)) - (.5 / @gridRowWidth * 100 * 1%) + @fluidGridGutterWidth - (.5 / @gridRowWidth * 100 * 1%);
    }

    .span (@columns) {
      width: (@fluidGridColumnWidth * @columns) + (@fluidGridGutterWidth * (@columns - 1));
      *width: (@fluidGridColumnWidth * @columns) + (@fluidGridGutterWidth * (@columns - 1)) - (.5 / @gridRowWidth * 100 * 1%);
    }

    .row-fluid {
      width: 100%;
      .clearfix();
      [class*="span"] {
        .input-block-level();
        float: left;
        margin-left: @fluidGridGutterWidth;
        *margin-left: @fluidGridGutterWidth - (.5 / @gridRowWidth * 100 * 1%);
      }
      [class*="span"]:first-child {
        margin-left: 0;
      }

      // generate .spanX and .offsetX
      .spanX (@gridColumns);
      .offsetX (@gridColumns);
    }

  }

  .input(@gridColumnWidth, @gridGutterWidth) {

    .spanX (@index) when (@index > 0) {
      (~"input.span@{index}, textarea.span@{index}, .uneditable-input.span@{index}") { .span(@index); }
      .spanX(@index - 1);
    }
    .spanX (0) {}

    .span(@columns) {
      width: ((@gridColumnWidth) * @columns) + (@gridGutterWidth * (@columns - 1)) - 10;
    }

    input,
    textarea,
    .uneditable-input {
      margin-left: 0; // override margin-left from core grid system
    }

    // Space grid-sized controls properly if multiple per line
    .controls-row [class*="span"] + [class*="span"] {
      margin-left: @gridGutterWidth;
    }

    // generate .spanX
    .spanX (@gridColumns);

  }

}
*/
/* line 4, /Users/jim/Git/clf-prototyping/less/type.less */
html {
  -webkit-font-smoothing: antialiased;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
  /* line 7, /Users/jim/Git/clf-prototyping/less/type.less */
  html {
    -webkit-text-size-adjust: 100%;
  }
}
/* CUSTOM FONTS */
/* DEFAULT TYPE STYLES */
/* line 16, /Users/jim/Git/clf-prototyping/less/type.less */
.note {
  font-size: .8em;
  color: #555555;
}
/*
GOOGLE FONTS
_______________________
OPEN SANS --
300 / 400 / 600
400 italic

DROID SERIF --
400 / 700
400 italic / 700 italic

font-family: 'Droid Serif', serif;
font-family: 'Open Sans', sans-serif; */
/*#main,
.regular,
.home-alt #ubc7-unit .nav.user-info >li > a {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400; }

.regular-italic,
.serif,
figure p,
#main em {
  font-family: 'Droid Serif', serif;
  font-style: italic;
  font-weight: 400; }
.bold-italic,
.bold-serif {
  font-family: 'Droid Serif', serif;
  font-style: italic;
  font-weight: 700; }

.light  {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300; }

#main h1,
#main h2,
#main h3,
.hero h1,
.hero h2,
.hero h3,
.h1,
.h2,
.h3,
.bold {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  &.subtitle { font-weight: 400; } }
#main strong,
.semi-bold {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600; }
.central-content ul, 
.central-content ol { margin-bottom: 25px; }  
.central-content ol li,
.central-content ul li {
  line-height: 1.25em;
  padding-bottom: .5em; }

label {
  .h3;
  font-size: 1.714em;
  line-height: 2.143em; }
  
.lead {
  font-weight: 300;
}

table th { .semi-bold; }

p, ul, ol {
  margin-bottom: 1.429em;
}*/
/* ALPHA PAGER
-------------------------------------------------- */
/* line 3, /Users/jim/Git/clf-prototyping/less/components.less */
ul.views-summary {
  list-style: none;
  margin: 0;
}
/* line 6, /Users/jim/Git/clf-prototyping/less/components.less */
.views-summary li {
  float: left;
  padding-right: .5em;
}
/* line 7, /Users/jim/Git/clf-prototyping/less/components.less */
.views-summary a {
  display: inline-block;
}
/* MEDIA QUERIES 
(these are example queries to get you started - these can be maodified to suit)
-------------------------------------------------- */
/* 320 and Up */
/* Modules upstart */
/* Version: 1.0 */
/* Author: Andy Clarke */
/* URL: http://stuffandnonsense.co.uk/projects/320andup */
/* line 6, /Users/jim/Git/clf-prototyping/less/grid-extras.less */
.grid {
  margin-bottom: 1.5em;
  border-bottom: 1px dashed #c7ced6;
}
/* line 9, /Users/jim/Git/clf-prototyping/less/grid-extras.less */
.grid:last-child {
  margin-bottom: 0;
  border-bottom-width: 0;
}
/* line 12, /Users/jim/Git/clf-prototyping/less/grid-extras.less */
.furniture-letter {
  overflow: hidden;
}
/* line 13, /Users/jim/Git/clf-prototyping/less/grid-extras.less */
.furniture-letter span {
  display: block;
  float: left;
  margin: 0 12px 0 0;
  height: 44px;
  width: 44px;
  background-color: #2d353e;
  color: #ffffff;
  font-size: 32px;
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 44px;
  text-align: center;
}
@media only screen and (min-width: 480px) {
  /* Styles */
}
@media only screen and (min-width: 600px) {
  /* Styles */
}
@media only screen and (min-width: 768px) {
  /* line 33, /Users/jim/Git/clf-prototyping/less/grid-extras.less */
  .grids-two .grid {
    width: 43.03%;
    margin-bottom: 0;
    border-bottom-width: 0;
  }
  /* line 37, /Users/jim/Git/clf-prototyping/less/grid-extras.less */
  .grids-two .grid-1 {
    float: left;
  }
  /* line 38, /Users/jim/Git/clf-prototyping/less/grid-extras.less */
  .grids-two .grid-2 {
    float: right;
  }
  /* line 39, /Users/jim/Git/clf-prototyping/less/grid-extras.less */
  .grids-three .grid-a {
    float: left;
    width: 31.64%;
    margin-right: 2.53%;
  }
  /* line 43, /Users/jim/Git/clf-prototyping/less/grid-extras.less */
  .grids-four .grid-a {
    float: left;
    width: 31.64%;
    margin-right: 2.53%;
  }
}
@media only screen and (min-width: 992px) {
  /* line 49, /Users/jim/Git/clf-prototyping/less/grid-extras.less */
  .grids-three .grid {
    float: left;
    width: 31.64%;
    margin: 0 2.53% 0 0;
    border-bottom-width: 0;
  }
  /* line 54, /Users/jim/Git/clf-prototyping/less/grid-extras.less */
  .grids-three .grid-3 {
    float: right;
    margin-right: 0;
  }
  /* line 57, /Users/jim/Git/clf-prototyping/less/grid-extras.less */
  .grids-three .grid .grid-a {
    float: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 0.75em;
  }
  /* line 62, /Users/jim/Git/clf-prototyping/less/grid-extras.less */
  .grids-four .grid {
    float: left;
    width: 20.25%;
    margin: 0 6.32% 0 0;
    border-bottom-width: 0;
  }
  /* line 67, /Users/jim/Git/clf-prototyping/less/grid-extras.less */
  .grids-four .grid-4 {
    float: right;
    margin-right: 0;
  }
  /* line 70, /Users/jim/Git/clf-prototyping/less/grid-extras.less */
  .grids-four .grid .grid-a {
    float: none;
    width: 100%;
    margin-right: 0;
  }
}
@media only screen and (min-width: 1382px) {
  /* Styles */
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}
/* 320 and Up */
/* Panels Upstart */
/* Version: 1.0 */
/* Author: Andy Clarke */
/* URL: http://stuffandnonsense.co.uk/projects/320andup */
/* line 86, /Users/jim/Git/clf-prototyping/less/grid-extras.less */
.full {
  margin-bottom: 1.5em;
  padding: 1.5em;
  background-color: #f3f5f6;
  border-top: 2px solid #c7ced6;
  border-bottom: 2px solid #c7ced6;
}
/* line 92, /Users/jim/Git/clf-prototyping/less/grid-extras.less */
.full .grids {
  width: 90%;
  margin: 0 auto;
  padding: 1.5em 0;
}
@media only screen and (min-width: 480px) {
  /* Styles */
}
@media only screen and (min-width: 600px) {
  /* Styles */
}
@media only screen and (min-width: 768px) {
  /* line 103, /Users/jim/Git/clf-prototyping/less/grid-extras.less */
  .special .grids-three .grid-a,
  .special .grids-four .grid-a {
    width: 43.03%;
  }
}
@media only screen and (min-width: 992px) {
  /* line 107, /Users/jim/Git/clf-prototyping/less/grid-extras.less */
  .special .grids-three .grid-a,
  .special .grids-four .grid-a {
    width: 100%;
  }
}
@media only screen and (min-width: 1382px) {
  /* Styles */
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}
@media screen and (min-width: 670px) {
  /* line 11, /Users/jim/Git/clf-prototyping/less/mobile-first-layouts.less */
  .one-sidebar-25-75 .region-main {
    width: 74.35897435897436%;
    *width: 74.30578286961266%;
    float: left;
    padding-right: 2.564102564102564%;
    *padding-right: 2.5109110747408616%;
  }
  /* line 17, /Users/jim/Git/clf-prototyping/less/mobile-first-layouts.less */
  .one-sidebar-25-75 .region-sidebar-first {
    float: left;
    width: 23.076923076923077%;
    *width: 23.023731587561375%;
  }
  /* line 21, /Users/jim/Git/clf-prototyping/less/mobile-first-layouts.less */
  .one-sidebar-25-75 .region-sidebar-second {
    clear: both;
  }
}
@media screen and (min-width: 670px) {
  /* line 26, /Users/jim/Git/clf-prototyping/less/mobile-first-layouts.less */
  .two-sidebars-33-66 .region-main,
  .one-sidebar-33-66 .region-main {
    width: 65.81196581196582%;
    *width: 65.75877432260411%;
    float: left;
    padding-right: 2.564102564102564%;
    *padding-right: 2.5109110747408616%;
  }
  /* line 33, /Users/jim/Git/clf-prototyping/less/mobile-first-layouts.less */
  .one-sidebar-33-66 .region-sidebar-first,
  .one-sidebar-33-66 .region-sidebar-second,
  .two-sidebars-33-66 .region-sidebar-first {
    float: left;
    width: 31.623931623931625%;
    *width: 31.570740134569924%;
  }
  /* line 39, /Users/jim/Git/clf-prototyping/less/mobile-first-layouts.less */
  .two-sidebars-33-66 .region-sidebar-first {
    float: right;
  }
  /* line 40, /Users/jim/Git/clf-prototyping/less/mobile-first-layouts.less */
  .two-sidebars-33-66 .region-sidebar-second {
    clear: both;
  }
}
@media screen and (min-width: 980px) {
  /* line 44, /Users/jim/Git/clf-prototyping/less/mobile-first-layouts.less */
  .two-sidebars-33-66 .region-main {
    width: 48.717948717948715%;
    margin-left: 23.076923076923077%;
    padding: 0 2.564102564102564%;
    *padding: 0 2.5109110747408616%;
  }
  /* line 49, /Users/jim/Git/clf-prototyping/less/mobile-first-layouts.less */
  .two-sidebars-33-66 .region-sidebar-first,
  .two-sidebars-33-66 .region-sidebar-second {
    width: 23.076923076923077%;
    *width: 23.023731587561375%;
  }
  /* line 53, /Users/jim/Git/clf-prototyping/less/mobile-first-layouts.less */
  .two-sidebars-33-66 .region-sidebar-first {
    float: left;
    margin-left: -76.92307692307692%;
    *margin-left: -76.81669394435352%;
  }
  /* line 57, /Users/jim/Git/clf-prototyping/less/mobile-first-layouts.less */
  .two-sidebars-33-66 .region-sidebar-second {
    float: right;
    width: 23.076923076923077%;
    *width: 23.023731587561375%;
    clear: none;
  }
}
@media screen and (min-width: 670px) {
  /* line 69, /Users/jim/Git/clf-prototyping/less/mobile-first-layouts.less */
  .one-sidebar-golden .region-main {
    width: 60.51794871794872%;
    *width: 60.54454446262957%;
    float: left;
    padding-right: 2.564102564102564%;
    *padding-right: 2.5109110747408616%;
  }
  /* line 75, /Users/jim/Git/clf-prototyping/less/mobile-first-layouts.less */
  .one-sidebar-golden .region-sidebar-first {
    float: left;
    width: 36.91794871794872%;
    *width: 36.94454446262957%;
  }
  /* line 79, /Users/jim/Git/clf-prototyping/less/mobile-first-layouts.less */
  .one-sidebar-golden .region-sidebar-second {
    clear: both;
  }
}
@media screen and (min-width: 670px) {
  /* line 84, /Users/jim/Git/clf-prototyping/less/mobile-first-layouts.less */
  .two-sidebars-25-50-25 .region-main {
    width: 74.35897435897436%;
    *width: 74.30578286961266%;
    float: left;
    padding-right: 2.564102564102564%;
    *padding-right: 2.5109110747408616%;
  }
  /* line 90, /Users/jim/Git/clf-prototyping/less/mobile-first-layouts.less */
  .two-sidebars-25-50-25 .region-sidebar-first {
    float: left;
    width: 23.076923076923077%;
    *width: 23.023731587561375%;
  }
  /* line 94, /Users/jim/Git/clf-prototyping/less/mobile-first-layouts.less */
  .two-sidebars-25-50-25 .region-sidebar-second {
    clear: both;
  }
}
@media screen and (min-width: 980px) {
  /* line 97, /Users/jim/Git/clf-prototyping/less/mobile-first-layouts.less */
  .two-sidebars-25-50-25 .region-main {
    width: 48.717948717948715%;
    margin-left: 23.076923076923077%;
    padding: 0 2.564102564102564%;
    *padding: 0 2.5109110747408616%;
  }
  /* line 102, /Users/jim/Git/clf-prototyping/less/mobile-first-layouts.less */
  .two-sidebars-25-50-25 .region-sidebar-first {
    margin-left: -76.92307692307692%;
    *margin-left: -76.81669394435352%;
  }
  /* line 105, /Users/jim/Git/clf-prototyping/less/mobile-first-layouts.less */
  .two-sidebars-25-50-25 .region-sidebar-second {
    float: right;
    width: 23.076923076923077%;
    *width: 23.023731587561375%;
    clear: none;
  }
}
/* line 115, /Users/jim/Git/clf-prototyping/less/mobile-first-layouts.less */
.ie8 body.one-sidebar-25-75 .region-main {
  width: 74.35897435897436%;
  *width: 74.30578286961266%;
  float: left;
  padding-right: 2.564102564102564%;
  *padding-right: 2.5109110747408616%;
}
/* line 121, /Users/jim/Git/clf-prototyping/less/mobile-first-layouts.less */
.ie8 body.one-sidebar-25-75 .region-sidebar-first {
  float: left;
  width: 23.076923076923077%;
  *width: 23.023731587561375%;
}
/* line 125, /Users/jim/Git/clf-prototyping/less/mobile-first-layouts.less */
.ie8 body.one-sidebar-25-75 .region-sidebar-second {
  clear: both;
}
/* line 128, /Users/jim/Git/clf-prototyping/less/mobile-first-layouts.less */
.ie8 body.one-sidebar-33-66 .region-main {
  width: 65.81196581196582%;
  *width: 65.75877432260411%;
  float: left;
  padding-right: 2.564102564102564%;
  *padding-right: 2.5109110747408616%;
}
/* line 134, /Users/jim/Git/clf-prototyping/less/mobile-first-layouts.less */
.ie8 body.one-sidebar-33-66 .region-sidebar-first,
.ie8 body.one-sidebar-33-66 .region-sidebar-second {
  float: left;
  width: 31.623931623931625%;
  *width: 31.570740134569924%;
}
/* line 139, /Users/jim/Git/clf-prototyping/less/mobile-first-layouts.less */
.ie8 body.two-sidebars-33-66 .region-main {
  width: 48.717948717948715%;
  margin-left: 23.076923076923077%;
  float: left;
  padding: 0 2.564102564102564%;
  *padding: 0 2.5109110747408616%;
}
/* line 145, /Users/jim/Git/clf-prototyping/less/mobile-first-layouts.less */
.ie8 body.two-sidebars-33-66 .region-sidebar-first,
.ie8 body.two-sidebars-33-66 .region-sidebar-second {
  width: 23.076923076923077%;
  *width: 23.023731587561375%;
}
/* line 149, /Users/jim/Git/clf-prototyping/less/mobile-first-layouts.less */
.ie8 body.two-sidebars-33-66 .region-sidebar-first {
  float: left;
  margin-left: -76.92307692307692%;
  *margin-left: -76.81669394435352%;
}
/* line 153, /Users/jim/Git/clf-prototyping/less/mobile-first-layouts.less */
.ie8 body.two-sidebars-33-66 .region-sidebar-second {
  float: right;
  width: 23.076923076923077%;
  *width: 23.023731587561375%;
  clear: none;
}
/* line 160, /Users/jim/Git/clf-prototyping/less/mobile-first-layouts.less */
.ie8 body.one-sidebar-golden .region-main {
  width: 60.51794871794872%;
  *width: 60.54454446262957%;
  float: left;
  padding-right: 2.564102564102564%;
  *padding-right: 2.5109110747408616%;
}
/* line 166, /Users/jim/Git/clf-prototyping/less/mobile-first-layouts.less */
.ie8 body.one-sidebar-golden .region-sidebar-first {
  float: left;
  width: 36.91794871794872%;
  *width: 36.94454446262957%;
}
/* line 170, /Users/jim/Git/clf-prototyping/less/mobile-first-layouts.less */
.ie8 body.one-sidebar-golden .region-sidebar-second {
  clear: both;
}
/* line 173, /Users/jim/Git/clf-prototyping/less/mobile-first-layouts.less */
.ie8 body.two-sidebars-25-50-25 .region-main {
  width: 48.717948717948715%;
  margin-left: 23.076923076923077%;
  padding: 0 2.564102564102564%;
  *padding: 0 2.5109110747408616%;
}
/* line 178, /Users/jim/Git/clf-prototyping/less/mobile-first-layouts.less */
.ie8 body.two-sidebars-25-50-25 .region-sidebar-first {
  margin-left: -76.92307692307692%;
  *margin-left: -76.81669394435352%;
}
/* line 181, /Users/jim/Git/clf-prototyping/less/mobile-first-layouts.less */
.ie8 body.two-sidebars-25-50-25 .region-sidebar-second {
  float: right;
  width: 23.076923076923077%;
  *width: 23.023731587561375%;
  clear: none;
}
/* ALL CUSTOM UNIT STYLES IN HERE */
/* Custom classes
-------------------------------------------------- */
/* UNIT COLOURS
Unit Bar background gradient and box shadow */
/* line 21, /Users/jim/Git/clf-prototyping/less/unit-custom.less */
#ubc7-unit {
  background: #00aeef;
  /* replace with unit colour (or use theme settings) */
  box-shadow: inset 0px -10px 10px -10px #333333;
  -moz-box-shadow: inset 0px -10px 10px -10px #333333;
  -webkit-box-shadow: inset 0px -10px 10px -10px #333333;
}
/* line 29, /Users/jim/Git/clf-prototyping/less/unit-custom.less */
#my-carousel {
  background: #d9d9d9;
}
/* line 31, /Users/jim/Git/clf-prototyping/less/unit-custom.less */
#navbar {
  display: none !important;
}
/* UNIT SPECIFIC
Typography
-------------------------------------------------- */
/* MEDIA QUERIES 
(these are example queries to get you started - these can be maodified to suit)
-------------------------------------------------- */
