/*@blue:                  #23499c; // Enrolment
@blueDark:              #0064cd;
@green:                 #58a229; // Healthy
@red:                   #cb1d38; // Fun
@yellow:                #ffc40d;
@orange:                #ff8200; // Success
@pink:                  #c3325f;
@purple:                #41178b; // Career
@teal:                  #1594a6; // Campus*/
/*@btnBackground:                     @white;
@btnBackgroundHighlight:            darken(@white, 10%);
@btnBorder:                         #ccc;

@btnPrimaryBackground:              @linkColor;
@btnPrimaryBackgroundHighlight:     spin(@btnPrimaryBackground, 20%);

@btnInfoBackground:                 #5bc0de;
@btnInfoBackgroundHighlight:        #2f96b4;

@btnSuccessBackground:              #62c462;
@btnSuccessBackgroundHighlight:     #51a351;

@btnWarningBackground:              lighten(@orange, 15%);
@btnWarningBackgroundHighlight:     @orange;

@btnDangerBackground:               #ee5f5b;
@btnDangerBackgroundHighlight:      #bd362f;

@btnInverseBackground:              #444;
@btnInverseBackgroundHighlight:     @grayDarker;*/
/* UNIT COLOURS */
#ubc7-search {
  background-color: #e6e6e6;
}
header.row-fluid,
header [class*="span"],
#ubc7-header {
  background-color: #333333;
}
#ubc7-unit-menu .nav > li.active > a,
#ubc7-unit-alternate-navigation .nav > li.active > a,
#ubc7-unit-menu .nav > li.active > .btn-group,
#ubc7-unit {
  background: #b3b3b3;
}
.nav > li > a:hover,
#ubc7-apom a:hover,
#ubc7-unit-menu .btn-group:hover .btn,
#ubc7-unit-menu .nav > li.active > .btn-group:hover .btn,
#ubc7-unit-alternate-navigation .nav > li.active > .btn-group:hover .btn,
#ubc7-unit-alternate-navigation .btn-group:hover .btn,
#ubc7-unit-menu .nav-collapse .nav > li > a:hover,
#ubc7-unit-menu .nav-collapse .dropdown-menu a:hover,
#ubc7-unit-alternate-navigation .nav-collapse .nav > li > a:hover,
#ubc7-unit-alternate-navigation .nav-collapse .dropdown-menu a:hover {
  background-color: #4d4d4d !important;
}
#ubc7-minimal-footer .span12 {
  border-top: 1px solid #4d4d4d;
}
footer,
#ubc7-global-footer,
#ubc7-minimal-footer {
  background: #333333;
}
#ubc7-apom a,
#ubc7-wordmark-block {
  border-left: 1px solid #4d4d4d;
}
#ubc7-unit-menu .btn-group .btn,
#ubc7-unit-alternate-navigation .btn-group .btn {
  color: #000000;
}
#ubc7-unit-menu .dropdown .btn-group button,
#ubc7-unit-alternate-navigation .dropdown .btn-group button {
  border-left: 1px solid #b3b3b3 !important;
}
#ubc7-unit-menu .dropdown.active .btn-group button,
#ubc7-unit-alternate-navigation .dropdown.active .btn-group button {
  border-left: 1px solid #4d4d4d !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
.breadcrumb a {
  color: #000000;
}
#ubc7-unit-footer,
#ubc7-unit-social-icons i,
a:hover,
a:focus,
a:active,
.breadcrumb a:hover,
.breadcrumb a:focus,
.breadcrumb a:active {
  color: #333333;
}
.breadcrumb a:hover,
.breadcrumb .active,
#ubc7-unit-social-icons i:hover {
  color: #4d4d4d;
}
.btn {
  background-color: #333333;
  background-image: none;
  border: 1px solid #4d4d4d;
  border-color: #4d4d4d;
  filter: none;
}
.btn:hover,
.btn:active {
  background-color: #b3b3b3 !important;
  border-color: #4d4d4d;
}
#ubc7-search-box .btn {
  background-color: #333333 !important;
  background-image: none;
  border: 1px solid #4d4d4d;
  border-color: #4d4d4d;
  filter: none;
}
#ubc7-search-box .btn:hover,
#ubc7-search-box .btn:active {
  background-color: #b3b3b3 !important;
  border-color: #4d4d4d;
}
.nav-tabs > li > a {
  background-color: #b3b3b3;
}
.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span,
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:active,
.nav-tabs > .active > a:focus {
  background-color: #333333;
  border-color: #333333;
}
@media screen and (min-width: 1200px) {
  #ubc7-unit-menu .nav > li > a {
    padding-top: 11px !important;
  }
}
/* UNIT SPECIFIC
Typography
-------------------------------------------------- */
/* MEDIA QUERIES 
(these are example queries to get you started - these can be maodified to suit)
-------------------------------------------------- */
